<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = '/2' method = 'get'>
    <h1>Please Input Your Information</h1>
    Name:&ensp;&ensp;&ensp;&ensp;<input type="text" name="name"><br>
    Sex:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" name="sex"><br>
    StudentID:&nbsp;<input type="text" name="StudentID"><br>
    Date:&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" name="date"><br>
    <input type="submit" value="Check In">
    </form>
</body>
</html>
